html {
    scroll-behavior: smooth;
    background-image: url("Assets/wood\ bkg.jpg");
    background-repeat: repeat;
}
  
header {
    text-align: center;
    background-color: #FFCC00;
}

form {
    text-align: center;
}

#inputDiv {
    text-align: center;
}

#mapDiv {
    height: 400px;
    width: 100%;
}

#inputButton {
    font-family: 'Ubuntu', sans-serif;
    background-color: #ffab00;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

.main-footer {
    padding: 7px;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: orange;
    width: 100%;


}

#centerdiv {
    display: none;

}

.breweryBtn {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    border-radius: 4px;
    width: 100%;
    display: block;
}

#clickMeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: none;
    height: 550px;
    width: 525px;
}

#clickMeDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: none;
}

.navbarCounter {
    list-style-type: none;
}

#futureBreweryList, #checkedInBreweryList, #favoritedBreweryList {
    font-size: 20px;
    vertical-align: middle;
}